@{
    ViewData["Title"] = "Privacy Policy";
}

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_updatedLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
