@model MVC_With_DB.Models.Tag

<h1>
    Add Tags
</h1>

<form method="post" class="align-content-center">
    <div class="mb-3">
        <label for="tagName" class="form-label">Tag Name Here</label>
        <input type="text" class="form-control w-25" asp-for="Name" id="TagNameInput" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Add 😊</button>
</form>