<!doctype html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/foodbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Dec 2022 08:01:22 GMT -->
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="~/assets/img/favicon.png" type="image/png">
<title>Food Bar</title>

<link rel="stylesheet" href="~/assets/css/bootstrap.css">
<link rel="stylesheet" href="~/assets/vendors/linericon/style.css">
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/../../../cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css">
<link rel="stylesheet" href="~/assets/vendors/nice-select/css/nice-select.css">
<link rel="stylesheet" href="~/assets/vendors/animate-css/animate.css">
<link rel="stylesheet" href="~/assets/vendors/popup/magnific-popup.css">
<link rel="stylesheet" href="~/assets/vendors/swiper/css/swiper.min.css">
<link rel="stylesheet" href="~/assets/vendors/scroll/jquery.mCustomScrollbar.css">

<link rel="stylesheet" href="~/assets/css/style.css">
<link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>

<div class="side_menu">
<a class="logo" href="~/assets/#">
<img src="img/logo.png" alt="">
</a>
<ul class="list menu_right">
<li>
<a asp asp-controller="Home" asp-action="Home">Home</a>
</li>
<li>
<a asp asp-controller="Home" asp-action="About">About</a>
</li>
<li>
<a asp asp-controller="Home" asp-action="menu">Menu</a>
</li>
<li>
<a href="~/assets/book-table.html">Book a table</a>
</li>
<li>
<a href="~/assets/#">Pages</a>
<ul class="list">
<li>
<a href="~/assets/gallery.html">Gallery</a>
</li>
<li>
<a href="~/assets/elements.html">Elements</a>
</li>
</ul>
</li>
<li>
<a href="~/assets/#">Blog</a>
<ul class="list">
<li>
<a href="~/assets/blog.html">Blog</a>
</li>
<li>
<a href="~/assets/single-blog.html">Blog Details</a>
</li>
</ul>
</li>
<li>
<aasp asp-controller="Home" asp-action="Contact">Contact</aasp>
</li>
</ul>
<ul class="list social">
<li>
<a href="~/assets/#">
<i class="fa fa-facebook"></i>
</a>
</li>
<li>
<a href="~/assets/#">
<i class="fa fa-twitter"></i>
</a>
</li>
<li>
<a href="~/assets/#">
<i class="fa fa-dribbble"></i>
</a>
</li>
<li>
<a href="~/assets/#">
<i class="fa fa-behance"></i>
</a>
</li>
</ul>
</div>

<header class="header_area home_menu">
<div class="main_menu">
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container">

<a class="navbar-brand logo_h" href="~/assets/~/assets/~/assetsindex.html">
<img src="~/assets/img/logo-2.png" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
<ul class="nav navbar-nav menu_nav ml-auto">
<li class="nav-item active">
<a class="nav-link" asp asp-controller="Home" asp-action="Home">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" asp asp-controller="Home" asp-action="About">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="~/assets/~/assetsmenu.html">Menu</a>
</li>
<li class="nav-item">
<a class="nav-link" href="~/assets/~/assetsbook-table.html">Book a table</a>
</li>
<li class="nav-item submenu dropdown">
<a href="~/assets/~/assets#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a class="nav-link" href="~/assets/~/assetsgallery.html">Gallery</a>
</li>
<li class="nav-item">
<a class="nav-link" href="~/assets/~/assetselements.html">Elements</a>
</li>
</ul>
</li>
<li class="nav-item submenu dropdown">
<a href="~/assets/~/assets#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a class="nav-link" href="~/assets/~/assetsblog.html">Blog</a>
</li>
<li class="nav-item">
<a class="nav-link" href="~/assets/~/assetssingle-blog.html">Blog Details</a>
</li>
</ul>
</li>
<li class="nav-item">
<a class="nav-link" href="~/assets/~/assetscontact.html">Contact</a>
</li>
</ul>
</div>
</div>
</nav>
</div>
</header>

   
  @RenderBody()
   

<footer class="footer-area p_120">
<div class="container">
<div class="row">
<div class="col-lg-2  col-md-6 col-sm-6">
<div class="single-footer-widget tp_widgets">
<h6 class="footer_title">Top Products</h6>
<ul class="list">
<li>
<a href="~/assets/~/assets#">Managed Website</a>
</li>
<li>
<a href="~/assets/~/assets#">Manage Reputation</a>
</li>
<li>
<a href="~/assets/~/assets#">Power Tools</a>
</li>
<li>
<a href="~/assets/~/assets#">Marketing Service</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-2  col-md-6 col-sm-6">
<div class="single-footer-widget tp_widgets">
<h6 class="footer_title">Quick Links</h6>
<ul class="list">
<li>
<a href="~/assets/~/assets#">Jobs</a>
</li>
<li>
<a href="~/assets/~/assets#">Brand Assets</a>
</li>
<li>
<a href="~/assets/~/assets#">Investor Relations</a>
</li>
<li>
<a href="~/assets/~/assets#">Terms of Service</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-2  col-md-6 col-sm-6">
<div class="single-footer-widget tp_widgets">
<h6 class="footer_title">Features</h6>
<ul class="list">
<li>
<a href="~/assets/~/assets#">Jobs</a>
</li>
<li>
<a href="~/assets/~/assets#">Brand Assets</a>
</li>
<li>
<a href="~/assets/~/assets#">Investor Relations</a>
</li>
<li>
<a href="~/assets/~/assets#">Terms of Service</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-2  col-md-6 col-sm-6">
<div class="single-footer-widget tp_widgets">
<h6 class="footer_title">Resources</h6>
<ul class="list">
<li>
<a href="~/assets/~/assets~/assets#">Guides</a>
</li>
<li>
<a href="~/assets/~/assets#">Research</a>
</li>
<li>
<a href="~/assets/~/assets#">Experts</a>
</li>
<li>
<a href="~/assets/~/assets#">Agencies</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">
<aside class="f_widget news_widget">
<div class="f_title">
<h3 class="footer_title">Newsletter</h3>
</div>
<p>Stay updated with our latest trends</p>
<div id="mc_embed_signup">
<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
<div class="input-group d-flex flex-row">
<input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
<button class="btn sub-btn">
<span class="lnr lnr-arrow-right"></span>
</button>
</div>
<div class="mt-10 info"></div>
</form>
</div>
</aside>
</div>
</div>
<div class="row footer-bottom d-flex justify-content-between align-items-center">
<p class="col-lg-8 col-md-8 footer-text m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="~/assets/~/assetshttps://colorlib.com/" target="_blank">Colorlib</a>

</p>
<div class="col-lg-4 col-md-4 footer-social">
<a href="~/assets/~/assets#">
<i class="fa fa-facebook"></i>
</a>
<a href="~/assets/~/assets#">
<i class="fa fa-twitter"></i>
</a>
<a href="~/assets/~/assets#">
<i class="fa fa-dribbble"></i>
</a>
<a href="~/assets/~/assets#">
<i class="fa fa-behance"></i>
</a>
</div>
</div>
</div>
</footer>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/assets/js/popper.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/stellar.js"></script>
<script src="~/assets/js/jquery.lightbox.js"></script>
<script src="~/assets/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="~/assets/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/vendors/isotope/isotope-min.js"></script>
<script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="~/assets/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="~/assets/vendors/counter-up/jquery.counterup.js"></script>
<script src="~/assets/js/mail-script.js"></script>
<script src="~/assets/vendors/popup/jquery.magnific-popup.min.js"></script>
<script src="~/assets/vendors/swiper/js/swiper.min.js"></script>
<script src="~/assets/vendors/scroll/jquery.mCustomScrollbar.js"></script>
<script src="~/assets/js/theme.js"></script>

<script async src="~/assets/https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="~/assets/https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"778d2987f8c24c47","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/foodbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Dec 2022 08:01:46 GMT -->
</html>


